In [5]:
import pandas as pd
import numpy as np

toyota = pd.read_csv("Toyota.csv")
toyota.head(10)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105

In [4]:
toyota.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [12]:
toyota.HP.unique()

array(['90', '????', '192', '110', '97', '71', '116', '98', '69', '86',
       '72', '107', '73'], dtype=object)

In [13]:
toyota.HP.value_counts()

HP
110     833
86      249
97      164
72       72
90       35
69       33
107      21
192      10
116       9
????      6
98        2
71        1
73        1
Name: count, dtype: int64

In [32]:
cars = pd.read_csv("Toyota.csv", index_col= 0)
cars

cancer = pd.read_csv("cancer.csv")
cancer

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [62]:
cars

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [35]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

In [ ]:
cars.KM.unique()
cars.KM.value_counts()

In [58]:
cars.FuelType.unique()
cars.FuelType.value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [ ]:
cars.HP.unique()
cars.HP.value_counts(ascending = True)

HP
71        1
73        1
98        2
????      6
116       9
192      10
107      21
69       33
90       35
72       72
97      164
86      249
110     833
Name: count, dtype: int64

In [84]:
cars.Doors.unique()
cars.Doors.value_counts()

Doors
5        673
3        621
4        137
2          2
three      1
four       1
five       1
Name: count, dtype: int64

In [64]:
cars.MetColor.unique()

array([ 1., nan,  0.])

In [ ]:
cars.head(60)

In [89]:
cars.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1431    False
1432    False
1433    False
1434    False
1435    False
Length: 1436, dtype: bool

In [ ]:
cars_dropped = cars.dropna()
cars_dropped.head(60)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185
11,19950,22.0,43610,Petrol,192,0.0,0,1800,3,1185
12,19600,25.0,32189,Petrol,192,0.0,0,1800,3,1185
13,21500,31.0,23000,Petrol,192,1.0,0,1800,3,1185
14,22500,32.0,34131,Petrol,192,1.0,0,1800,3,1185
15,22000,28.0,18739,Petrol,????,0.0,0,1800,3,1185
16,22750,30.0,34000,Petrol,192,1.0,0,1800,3,1185
17,17950,24.0,21716,Petrol,110,1.0,0,1600,3,1105
18,16750,24.0,25563,Petrol,110,0.0,0,1600,3,1065
19,16950,30.0,64359,Petrol,110,1.0,0,1600,3,1105
20,15950,30.0,67660,Petrol,110,1.0,0,1600,3,1105
22,15950,28.0,56349,Petrol,110,1.0,0,1600,3,1120
23,16950,28.0,32220,Petrol,110,1.0,0,1600,3,1120
24,16250,29.0,25813,Petrol,110,1.0,0,1600,3,1120
25,15950,25.0,28450,Petrol,110,1.0,0,1600,3,1120
27,15750,29.0,41415,Petrol,110,1.0,0,1600,3,1120
28,16950,28.0,44142,Petrol,110,0.0,0,1600,3,1120
30,12950,29.0,9750,Petrol,97,1.0,0,1400,3,1100
31,15750,22.0,35199,Petrol,97,1.0,0,1400,3,1100
32,15950,27.0,29510,Petrol,97,1.0,0,1400,3,1100
34,15500,22.0,41000,Petrol,97,1.0,0,1400,3,1100
35,15750,26.0,43000,Petrol,97,0.0,0,1400,3,1100
36,15950,25.0,25000,Petrol,97,0.0,0,1400,3,1100
37,14950,23.0,10000,Petrol,97,1.0,0,1400,3,1100
38,15750,32.0,25329,Petrol,97,1.0,0,1400,3,1100
39,14750,27.0,27500,Petrol,97,0.0,0,1400,3,1100
40,13950,22.0,49059,Petrol,97,0.0,0,1400,3,1100
41,16750,27.0,44068,Petrol,97,1.0,0,1400,3,1100
42,13950,22.0,46961,Petrol,97,0.0,0,1400,3,1100
46,17950,27.0,79375,Diesel,90,1.0,0,2000,5,1255
47,15800,22.0,75048,Petrol,97,1.0,0,1400,5,1110
48,17950,22.0,72215,Diesel,90,1.0,0,2000,5,1255
50,17950,22.0,62636,Diesel,90,1.0,0,2000,5,1255
51,15750,30.0,57086,Petrol,97,1.0,0,1400,5,1110
52,20500,26.0,56000,Petrol,110,1.0,1,1600,5,1180
53,21950,27.0,49866,Petrol,192,1.0,0,1800,5,1195
54,15500,25.0,49163,Petrol,110,0.0,1,1600,5,1165
56,15250,28.0,43210,Petrol,97,0.0,0,1400,5,1110
57,15250,26.0,43000,Petrol,97,0.0,0,1400,5,1110
58,18950,23.0,39704,Petrol,110,1.0,1,1600,5,1180
59,15999,30.0,38950,Petrol,110,1.0,0,1600,5,1130
62,18750,31.0,36544,Petrol,110,1.0,0,1600,5,1130
63,17950,30.0,33511,Petrol,110,1.0,0,1600,5,1130
64,17950,27.0,??,Petrol,97,1.0,0,1400,5,1110
65,16950,26.0,32181,Petrol,110,1.0,0,1600,5,1075
66,18950,28.0,30993,Petrol,110,1.0,0,1600,5,1130
67,14950,22.0,30400,Petrol,97,1.0,0,1400,5,1110
68,22250,22.0,30000,Diesel,110,1.0,0,2000,5,1275
70,15950,28.0,29206,Petrol,97,1.0,0,1400,5,1110
71,12995,32.0,29198,Petrol,97,1.0,0,1400,5,1060
72,18950,28.0,28817,Petrol,110,1.0,0,1598,5,1130
73,15750,23.0,28227,Petrol,97,1.0,0,1400,5,1110
74,19950,28.0,28000,Petrol,110,0.0,0,1600,5,1130
75,16950,23.0,28000,Petrol,110,1.0,0,1600,5,1115

In [95]:
cars.isnull().sum()

Price          0
Age          100
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [104]:
cars_dropped1 = cars.copy()
cars_dropped1.drop(columns = ['Age', 'FuelType', 'MetColor'], inplace = True)
cars_dropped1.head(60)

    Price      KM    HP  Automatic    CC  Doors  Weight
0   13500   46986    90          0  2000  three    1165
1   13750   72937    90          0  2000      3    1165
2   13950   41711    90          0  2000      3    1165
3   14950   48000    90          0  2000      3    1165
4   13750   38500    90          0  2000      3    1170
5   12950   61000    90          0  2000      3    1170
6   16900      ??  ????          0  2000      3    1245
7   18600   75889    90          0  2000      3    1245
8   21500   19700   192          0  1800      3    1185
9   12950   71138  ????          0  1900      3    1105
10  20950   31461   192          0  1800      3    1185
11  19950   43610   192          0  1800      3    1185
12  19600   32189   192          0  1800      3    1185
13  21500   23000   192          0  1800      3    1185
14  22500   34131   192          0  1800      3    1185
15  22000   18739  ????          0  1800      3    1185
16  22750   34000   192          0  1800      3    1185
17  17950   21716   110          0  1600      3    1105
18  16750   25563   110          0  1600      3    1065
19  16950   64359   110          0  1600      3    1105
20  15950   67660   110          0  1600      3    1105
21  16950   43905   110          1  1600      3    1170
22  15950   56349   110          0  1600      3    1120
23  16950   32220   110          0  1600      3    1120
24  16250   25813   110          0  1600      3    1120
25  15950   28450   110          0  1600      3    1120
26  17495   34545   110          0  1600      3    1120
27  15750   41415   110          0  1600      3    1120
28  16950   44142   110          0  1600      3    1120
29  17950   11090   110          0  1600      3    1120
30  12950    9750    97          0  1400      3    1100
31  15750   35199    97          0  1400      3    1100
32  15950   29510    97          0  1400      3    1100
33  14950   32692    97          0  1400      3    1100
34  15500   41000    97          0  1400      3    1100
35  15750   43000    97          0  1400      3    1100
36  15950   25000    97          0  1400      3    1100
37  14950   10000    97          0  1400      3    1100
38  15750   25329    97          0  1400      3    1100
39  14750   27500    97          0  1400      3    1100
40  13950   49059    97          0  1400      3    1100
41  16750   44068    97          0  1400      3    1100
42  13950   46961    97          0  1400      3    1100
43  16950  110404    90          0  2000      5    1255
44  16950  100250    90          0  2000      5    1255
45  19000   84000    90          0  2000      5    1270
46  17950   79375    90          0  2000      5    1255
47  15800   75048    97          0  1400      5    1110
48  17950   72215    90          0  2000      5    1255
49  21950   64982   192          0  1800      5    1195
50  17950   62636    90          0  2000      5    1255
51  15750   57086    97          0  1400      5    1110
52  20500   56000   110          1  1600      5    1180
53  21950   49866   192          0  1800      5    1195
54  15500   49163   110          1  1600      5    1165
55  13250   45725   110          0  1600      5    1075
56  15250   43210    97          0  1400      5    1110
57  15250   43000    97          0  1400      5    1110
58  18950   39704   110          1  1600      5    1180
59  15999   38950   110          0  1600      5    1130

In [108]:
cars_dropped.replace('?', np.nan)
cars.head(60)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105
10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185
11,19950,22.0,43610,Petrol,192,0.0,0,1800,3,1185
12,19600,25.0,32189,Petrol,192,0.0,0,1800,3,1185
13,21500,31.0,23000,Petrol,192,1.0,0,1800,3,1185
14,22500,32.0,34131,Petrol,192,1.0,0,1800,3,1185
15,22000,28.0,18739,Petrol,????,0.0,0,1800,3,1185
16,22750,30.0,34000,Petrol,192,1.0,0,1800,3,1185
17,17950,24.0,21716,Petrol,110,1.0,0,1600,3,1105
18,16750,24.0,25563,Petrol,110,0.0,0,1600,3,1065
19,16950,30.0,64359,Petrol,110,1.0,0,1600,3,1105
20,15950,30.0,67660,Petrol,110,1.0,0,1600,3,1105
21,16950,29.0,43905,NaN,110,0.0,1,1600,3,1170
22,15950,28.0,56349,Petrol,110,1.0,0,1600,3,1120
23,16950,28.0,32220,Petrol,110,1.0,0,1600,3,1120
24,16250,29.0,25813,Petrol,110,1.0,0,1600,3,1120
25,15950,25.0,28450,Petrol,110,1.0,0,1600,3,1120
26,17495,27.0,34545,NaN,110,1.0,0,1600,3,1120
27,15750,29.0,41415,Petrol,110,1.0,0,1600,3,1120
28,16950,28.0,44142,Petrol,110,0.0,0,1600,3,1120
29,17950,30.0,11090,NaN,110,NaN,0,1600,3,1120
30,12950,29.0,9750,Petrol,97,1.0,0,1400,3,1100
31,15750,22.0,35199,Petrol,97,1.0,0,1400,3,1100
32,15950,27.0,29510,Petrol,97,1.0,0,1400,3,1100
33,14950,NaN,32692,Petrol,97,1.0,0,1400,3,1100
34,15500,22.0,41000,Petrol,97,1.0,0,1400,3,1100
35,15750,26.0,43000,Petrol,97,0.0,0,1400,3,1100
36,15950,25.0,25000,Petrol,97,0.0,0,1400,3,1100
37,14950,23.0,10000,Petrol,97,1.0,0,1400,3,1100
38,15750,32.0,25329,Petrol,97,1.0,0,1400,3,1100
39,14750,27.0,27500,Petrol,97,0.0,0,1400,3,1100
40,13950,22.0,49059,Petrol,97,0.0,0,1400,3,1100
41,16750,27.0,44068,Petrol,97,1.0,0,1400,3,1100
42,13950,22.0,46961,Petrol,97,0.0,0,1400,3,1100
43,16950,27.0,110404,Diesel,90,NaN,0,2000,5,1255
44,16950,22.0,100250,NaN,90,0.0,0,2000,5,1255
45,19000,23.0,84000,Diesel,90,NaN,0,2000,5,1270
46,17950,27.0,79375,Diesel,90,1.0,0,2000,5,1255
47,15800,22.0,75048,Petrol,97,1.0,0,1400,5,1110
48,17950,22.0,72215,Diesel,90,1.0,0,2000,5,1255
49,21950,31.0,64982,Petrol,192,NaN,0,1800,5,1195
50,17950,22.0,62636,Diesel,90,1.0,0,2000,5,1255
51,15750,30.0,57086,Petrol,97,1.0,0,1400,5,1110
52,20500,26.0,56000,Petrol,110,1.0,1,1600,5,1180
53,21950,27.0,49866,Petrol,192,1.0,0,1800,5,1195
54,15500,25.0,49163,Petrol,110,0.0,1,1600,5,1165
55,13250,NaN,45725,Petrol,110,1.0,0,1600,5,1075
56,15250,28.0,43210,Petrol,97,0.0,0,1400,5,1110
57,15250,26.0,43000,Petrol,97,0.0,0,1400,5,1110
58,18950,23.0,39704,Petrol,110,1.0,1,1600,5,1180
59,15999,30.0,38950,Petrol,110,1.0,0,1600,5,1130

In [109]:
cars2 = cars.copy()

In [ ]:
cars2.replace('?????', np.nan, inplace = True)
cars2.head(60)

In [6]:
toyotoyo = pd.read_csv('Toyota.csv', index_col = 0, na_values= ['????', '???', '??', '?'])

In [7]:
toyotoyo.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [ ]:
round(toyotoyo.Age.mean())

55.67

In [ ]:
cars.Age.replace(np.nan, round(cars.Age.mean()), inplace = True)
cars.head(60)

In [201]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1436 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

In [21]:
toyotoyo.MetColor.fillna(toyotoyo.MetColor.mean(), inplace =True)

C:\Users\Dwayne\AppData\Local\Temp\ipykernel_5176\1180571401.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  toyotoyo.MetColor.fillna(toyotoyo.MetColor.mean(), inplace =True)

In [9]:
toyotoyo.Doors.replace(['three', 'four', 'five'], [3, 4, 5], inplace = True)

C:\Users\Dwayne\AppData\Local\Temp\ipykernel_5176\2245336140.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  toyotoyo.Doors.replace(['three', 'four', 'five'], [3, 4, 5], inplace = True)

In [10]:
toyotoyo.Doors.astype('int64')
toyotoyo.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,3,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170

In [13]:
toyotoyo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [14]:
toyotoyo.Age.fillna(toyotoyo.Age.mean(), inplace = True)

C:\Users\Dwayne\AppData\Local\Temp\ipykernel_5176\3964254110.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  toyotoyo.Age.fillna(toyotoyo.Age.mean(), inplace = True)

In [18]:
toyotoyo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1436 non-null   float64
 2   KM         1436 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [19]:
toyotoyo.KM.replace(np.nan, toyotoyo.KM.median(), inplace = True)
toyotoyo.HP.replace(np.nan, toyotoyo.HP.mean(), inplace = True)

C:\Users\Dwayne\AppData\Local\Temp\ipykernel_5176\292645101.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  toyotoyo.KM.replace(np.nan, toyotoyo.KM.median(), inplace = True)
C:\Users\Dwayne\AppData\Local\Temp\ipykernel_5176\292645101.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  toyotoyo.HP.replace(np.nan, toyotoyo.HP.mean(), inplace = True)

In [22]:
toyotoyo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1436 non-null   float64
 2   KM         1436 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   float64
 5   MetColor   1436 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB